.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.slide:not(.title) p {
  color: white;
  background: #453688;
  padding: .2em .75em;
  display: inline;
  position: absolute;
  right: 15px;
  bottom: -25px;
  font-style: italic;
}

.slide:after {
  position: absolute;
  top: 15px;
  right: 15px;
  padding-top: 3px;
  width: 50px;
  height: 50px;
  background: #453688;
  opacity: .9;
  color: #FFF;
  font-weight: bold;
  counter-increment: slide;
  content: counter(slide);
  text-align: center;
}
.slide.title:after {
  opacity: 0;
}
.shower.full .slide:not(.active) {
  display: block;
  margin-left: -150%;
  visibility: hidden;
}
